{% extends 'admin_panel/base.html' %}
{% load static %}


{% block styles %}
    <style>
        .card{
            border-radius:35px !important;
        }
        .card:hover{
            cursor: pointer;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
        }
    </style>
{% endblock styles %}
    

{% block title %}
    Ludo: Dashboard
{% endblock title %}
    
{% block beforescript %}
    
<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h4 class="text-themecolor">Dashboard</h4>
    </div>
    <div class="col-md-7 align-self-center text-right">
        <div class="d-flex justify-content-end align-items-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active">Dashboard</li>
            </ol>
        </div>
    </div>
</div>
<!-- ============================================================== -->
<!-- End Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Info box -->
<!-- ============================================================== -->
<div class="row">
    <div class="col-lg-12">
        <div class="row">
            <!-- column -->
            <div class="col-md-4" id="Player">
                <div class="card shadow p-3 mb-5 bg-white rounded" id="player-card">
                    <div class="card-body">
                        <h5 class="card-title">Player</h5>
                        <div class="d-flex m-t-30 m-b-20 no-block align-items-center">
                            <span class="display-5 text-info"><i class="icon-people icon-color"></i></span>
                            <a href="{% url 'players' %}" class="link display-5 ml-auto" id="plyr">{{ User }}</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- column -->
            <div class="col-md-4 " id="Games">
                <div class="card shadow p-3 mb-5 bg-white rounded" id="variation-card">
                    <div class="card-body">
                        <h5 class="card-title">Variation</h5>
                        <div class="d-flex m-t-30 m-b-20 no-block align-items-center">
                            <span class="display-5 text-purple"><i class="ti-split-h"></i></span>
                            <a href='{% url "variations" %}' class="link display-5 ml-auto" id="vrn">{{ Variation }}</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- column -->
            <div class="col-md-4" id="Clubs">
                <div class="card shadow p-3 mb-5 bg-white rounded" id="lobby-card">
                    <div class="card-body">
                        <h5 class="card-title">Lobby</h5>
                        <div class="d-flex m-t-30 m-b-20 no-block align-items-center">
                            <span class="display-5 text-primary"><i class="ti-game icon-color"></i></span>
                            <a href='{% url "lobbies" %}' class="link display-5 ml-auto" id="clb">{{ Lobbies }}</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- column -->
            <!-- column -->
            <div class="col-md-4" id="Leisure">
                <div class="card shadow p-3 mb-5 bg-white rounded" id='lbstruct-card'>
                    <div class="card-body">
                        <h5 class="card-title">Lobby Structure</h5>
                        <div class="d-flex m-t-30 m-b-20 no-block align-items-center">
                            <span class="display-5 text-success"><i class="icon-equalizer icon-color"></i></span>
                            <a href='{% url "lbstructure" request.session.username.Admin_Id %}' class="link display-5 ml-auto" id="lei">{{Lobby_Structure}}</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- column -->
            <div class="col-md-4" id="Withdrawals">
                <div class="card shadow p-3 mb-5 bg-white rounded" id="withdrawal-card">
                    <div class="card-body">
                        <h5 class="card-title">Withdrawals</h5>
                        <div class="d-flex m-t-30 m-b-20 no-block align-items-center">
                            <span class="display-5 text-info"><i class="icon-wallet icon-color"></i></span>
                            <a href='{% url "withdrawals" %}' class="link display-5 ml-auto" id="with">{{Withdrawls}}</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- column -->
            <div class="col-md-4" id="Admins">
                <div class="card shadow p-3 mb-5 bg-white rounded" id="admin-card">
                    <div class="card-body">
                        <h5 class="card-title">Admins</h5>
                        <div class="d-flex m-t-30 m-b-20 no-block align-items-center">
                            <span class="display-5 text-warning"><i class="icon-user icon-color"></i></span>
                            <a href="{% url 'admins' %}" class="link display-5 ml-auto" id="admn">{{ Admin }}</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- column -->
            <div class="col-md-4" id="Commission">
                <div class="card shadow p-3 mb-5 bg-white rounded" id="commission-card">
                    <div class="card-body">
                        <h5 class="card-title">Commission</h5>
                        <div class="d-flex m-t-30 m-b-20 no-block align-items-center">
                            <span class="display-5 text-info"><i class="icon-credit-card icon-color"></i></span>
                            <a href='{% url "commissions" %}' class="link display-5 ml-auto" id="cmn">{{Commission}}</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- column -->
            <div class="col-md-4" id="Achievement">
                <div class="card shadow p-3 mb-5 bg-white rounded" id="achievement-card">
                    <div class="card-body">
                        <h5 class="card-title">Achievement</h5>
                        <div class="d-flex m-t-30 m-b-20 no-block align-items-center">
                            <span class="display-5" style="color:goldenrod;"><i class="icon-trophy icon-color"></i></span>
                            <a href='{% url "achievement" %}' class="link display-5 ml-auto" id="mycommission">{{Achievements}}</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4" id="MyCommission">
                <div class="card shadow p-3 mb-5 bg-white rounded" id="leisure-card">
                    <div class="card-body">
                        <h5 class="card-title">Leisure</h5>
                        <div class="d-flex m-t-30 m-b-20 no-block align-items-center">
                            <span class="display-5 text-primary"><i class="icon-book-open icon-color"></i></span>
                            <a href='{% url "leisure" %}' class="link display-5 ml-auto" id="mycommission">{{leisure}}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock beforescript %}
    

{% block script %}
    <script>
        $('#player-card').on('click', function(){
            window.location.href =  '{% url "players" %}'
        })
        $('#admin-card').on('click', function(){
            window.location.href = '{% url "admins" %}'
        })
        $('#achievement-card').on('click', function(){
            window.location.href = '{% url "achievement" %}'
        })
        $('#variation-card').on('click', function(){
            window.location.href = '{% url "variations" %}'
        })
        $('#lbstruct-card').on('click', function(){
            window.location.href = '{% url "lbstructure" request.session.username.Admin_Id %}'
        })
        $('#withdrawal-card').on('click', function(){
            window.location.href = '{% url "withdrawals" %}'
        })
        $('#commission-card').on('click', function(){
            window.location.href = '{% url "commissions" %}'
        })
        $('#achievement-card').on('click', function(){
            window.location.href = '{% url "achievement" %}'
        })
        $('#leisure-card').on('click', function(){
            window.location.href = '{% url "leisure" %}'
        })
        $('#lobby-card').on('click', function(){
            window.location.href = '{% url "lobbies" %}'
        })
        
    </script>
    
{% endblock script %}
            
