{% load static %}
<head>
   
  
</head>
<aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li>
                    <a class="waves-effect waves-dark hvr" href="{% url 'home' %}" aria-expanded="false">
                        <i class="icon-speedometer common"></i>
                        <span class="hide-menu">Dashboard</span>
                    </a>
                </li>
                <li>
                    <a class="waves-effect waves-dark hvr" href="{% url 'players' %}" aria-expanded="false">
                        <i class="icon-people"></i>
                        <span class="hide-menu">Players</span>
                    </a>
                </li>
                <li>
                    <a class="waves-effect waves-dark hvr" href="{% url 'variations' %}" aria-expanded="false">
                        <i class="ti-split-h"></i>
                        <span class="hide-menu">Variations</span>
                    </a>
                </li>
                <li>
                    <a class="waves-effect waves-dark hvr" href="{% url 'lobbies' %}" aria-expanded="false">
                        <i class="ti-game"></i>
                        <span class="hide-menu">Lobbies</span>
                    </a>
                </li>
                

                       
                <li> 
                   <a class="waves-effect waves-dark hvr" href="{% url 'lbstructure' request.session.username.Admin_Id %}" aria-expanded="false">
                       <i class="icon-equalizer"></i>
                       <span class="hide-menu">Lobby Structures</span>
                   </a>
               </li> 


                    
                <li>
                    <a class="waves-effect waves-dark hvr" href="{% url 'leisure' %}" aria-expanded="false">
                        <i class="icon-book-open"></i>
                        <span class="hide-menu">Leisure</span>
                    </a>
                </li>
                <li>
                    <a class="waves-effect waves-dark hvr" href="{% url 'withdrawals' %}" aria-expanded="false">
                        <i class="icon-wallet"></i>
                        <span class="hide-menu">Withdrawals</span>
                    </a>
                </li>
                <li>
                    <a class="waves-effect waves-dark hvr" href="{% url 'admins' %}" aria-expanded="false">
                        <i class="icon-user"></i>
                        <span class="hide-menu">Admins</span>
                    </a>
                </li>
                <li>
                    <a class="waves-effect waves-dark hvr" href="{% url 'commissions' %}" aria-expanded="false">
                        <i class="icon-credit-card"></i>
                        <span class="hide-menu">Commission</span>
                    </a>
                </li>
                <li>
                    <a class="waves-effect waves-dark hvr" href="{% url 'achievement' %}" aria-expanded="false">
                        <i class="icon-trophy"></i>
                        <span class="hide-menu">Achievements</span>
                    </a>
                </li>
                <li>
                    <a class="waves-effect waves-dark hvr" aria-expanded="false" id="logout">
                        <i class="icon-logout"></i>
                        <span class="hide-menu">Logout</span>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>
<script src='{% static "admin_panel/assets/node_modules/jquery/jquery-3.2.1.min.js" %}'></script>
<script>
    $("#logout").click(function() {
        localStorage.removeItem('userdata');
        location.href = "{% url 'logout' %}"
    });

</script>