{% extends 'admin_panel/base.html' %}
{% load static %}


{% block style %}
<style>
    
</style>
{% endblock style %}


{% block title %}
    Variations
{% endblock title %}
    

{% block beforescript %}


<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h4 class="text-themecolor">Admin</h4>
    </div>
    <div class="col-md-7 align-self-center text-right">
        <div class="d-flex justify-content-end align-items-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                <li class="breadcrumb-item active">Variation</li>
            </ol>
        </div>
    </div>
</div>
<!-- ============================================================== -->
<!-- End Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Start Page Content -->
<!-- ============================================================== -->
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <button id="addvariation" type="button" class="btn float-right btn-dark" onclick="signin();">
                    <i class="fa fa-plus-circle"></i>&nbsp; Add New Variation
                </button>

                <!-- ========================================================================== -->
                <!-- ================== Popup Window Create ==================-->
                <!-- ========================================================================== -->
                <div id="id01" class="modal1">
                    <form class="modal1-content animate spades" method="post" id="Form-Create">
                        {% csrf_token %}
                        <div class="card-body">
                            <h3><span class="close1" onclick="hideModal()" title="Close Modal"
                                    style="font-weight: bold;margin-left:97%;">&times;</span></h3>
                            <div class="form-body">
                                <div class="row p-t-15">
                                    <h3 class="card-title"> Add New Variation </h3>
                                </div>
                                <div class="row p-t-15">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label"> Name </label>
                                            <input type="text" id="vname" class="form-control" required>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label"> Initial </label>
                                            <input type="text" id="vinitial" class="form-control" required>

                                            <!-- <select id="adminrole" class="form-control" required>
                                                <option value="Admin">Admin</option>
                                                <option value="SubAdmin">SubAdmin</option>
                                            </select> -->
                                        </div>
                                    </div>
                                </div>
                                <div class="row p-t-15">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label"> Player Count </label>
                                            <select id="vpcount" class="form-control" required>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <button type="button" onclick="hideModal()" class="btn btn-secondary">Cancel</button>
                                    <button id="Submit" type="button" class="btn btn-success">Submit</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <!-- ========================================================================== -->
                <!-- ================== Table ==================-->
                <!-- ========================================================================== -->
                <div class="table-responsive m-t-40">
                    <table id="variationtable" class="table table-hover table-responsive-md text-center">
                        <thead class="text-center">
                            <tr>
                                <th class="srt sorting_desc" tabindex="0" aria-controls="example23" rowspan="1"
                                    colspan="1" aria-label="Name: activate to sort column ascending"
                                    aria-sort="descending" display="none"> Id </th>

                                <th class="srt sorting_desc" tabindex="0" aria-controls="example23" rowspan="1"
                                    colspan="1" aria-label="Name: activate to sort column ascending"
                                    aria-sort="descending" display="none"> Name </th>

                                <th class="srt sorting_desc" tabindex="0" aria-controls="example23" rowspan="1"
                                    colspan="1" aria-label="Name: activate to sort column ascending"
                                    aria-sort="descending"> Intial </th>

                                <th class="srt sorting_desc" tabindex="0" aria-controls="example23" rowspan="1"
                                    colspan="1" aria-label="Name: activate to sort column ascending"
                                    aria-sort="descending"> Player Count </th>

                                <th class="srt sorting_desc" tabindex="0" aria-controls="example23" rowspan="1"
                                    colspan="1" aria-label="Name: activate to sort column ascending"
                                    aria-sort="descending"> Update </th>

                                <th class="srt sorting_desc" tabindex="0" aria-controls="example23" rowspan="1"
                                    colspan="1" aria-label="Name: activate to sort column ascending"
                                    aria-sort="descending"> Delete </th>
                            </tr>
                        </thead>
                        <tbody>

                            {% for attr in data %}
                            <tr>
                                <td class="text-center align-middle">{{attr.Variation_Id}}</td>
                                <td class="text-center align-middle">{{attr.Variation_Name}}</td>
                                <td class="text-center align-middle">{{attr.Variation_Initial}}</td>
                                <td class="text-center align-middle">{{attr.Player_Count}}</td>
                                <td class="text-center align-middle"><button class="btn btn-outline-info" onclick="upModal('{{ attr.Variation_Id }}','{{ attr.Variation_Name }}','{{ attr.Variation_Initial }}','{{ attr.Player_Count }}')"><span><i class="fa fa-pen"></i></span></button></td>
                                <td class="text-center align-middle"><button class="btn btn-outline-danger" onclick="showModal('{{ attr.Variation_Id }}', '{{ attr.Variation_Name }}' )"><span><i class="fa fa-trash"></i></span></button></td>


                            </tr>
                            {% endfor %}

                        </tbody>
                    </table>

                </div>
                <div id="id02" class="modal1" >
                    <form class="modal1-content animate spades" method="post" id="Form-Create">
                        {% csrf_token %}
                        <div class="card-body">
                            <h3><span class="close1" onclick="hideModal()" title="Close Modal"
                                    style="font-weight: bold;margin-left:97%;">&times;</span></h3>
                            <div class="form-body">
                                <div class="row p-t-15">
                                    <h3 class="card-title"> Update Variation </h3>
                                </div>
                                <div class="row p-t-15">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label"> Name </label>
                                            <input type="text" id="vname1" class="form-control" required>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label"> Initial </label>
                                            <input type="text" id="vinitial1" class="form-control" required>

                                            <!-- <select id="adminrole" class="form-control" required>
                                                <option value="Admin">Admin</option>
                                                <option value="SubAdmin">SubAdmin</option>
                                            </select> -->
                                        </div>
                                    </div>
                                </div>
                                <div class="row p-t-15">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label"> Player Count </label>
                                            <select id="vpcount1" class="form-control" required>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <button type="button" onclick="hideModal()" class="btn btn-secondary">Cancel</button>
                                    <button id="Submit1" type="button" class="btn btn-success">Submit</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div id="id03" class="modal1">
                    <form class="modal1-content animate" method="post" id="Form-Delete">
                        <span class="close1" onclick="hideModal()" title="Close Modal">×</span>
                        <h3 class="abc"><b>Delete Variation</b></h3>
                        <div class="container">
                            <p id="dltspan">Are you sure you want to delete this variation </p>
                        </div>
                        <div>
                            <button type="button" onclick="hideModal()" class="btn btn-secondary mx-2">No</button>
                            <button id="DeleteBtn" type="button" class="btn btn-success" >Yes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock beforescript %}


{% block script %}

<script>
    
    var modal = document.getElementById('id03');
    var modal1 = document.getElementById('id01');
    var modal2 = document.getElementById('id02');


    $(document).ready(function () {
        $('#variationtable').DataTable();
        role = '{{request.session.username.Admin_Roles}}'
        if(role != 'Admin'){
        $("#addvariation").hide();
        }
    });


       
 
    /* =========== Modal ============ */

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
            location.reload();
        }
        if (event.target == modal1) {
            modal1.style.display = "none";
        }
        if (event.target == modal2) {
            modal2.style.display = "none";
        }
        
    }
    /* =========== Delete Data ============ */
    
    function showModal() {
        var d = arguments[0];
        var k = arguments[1];

        $('#dltspan').append(' : <span id="add_here">' + k + '</span> with Id '+d+' ?');
        document.getElementById('id03').style.display = 'block';
        $("#DeleteBtn").click(function () {
    
        
            var dataa = JSON.stringify({'variation_id':d});
            $.ajax({
                url: '{% url "delvariation" %}',
                type: 'POST',
                contentType: 'application/json; charset=utf-8',
                headers: {

                    'X-CSRFToken':'{{csrf_token}}'
                },
                dataType: 'json',
                data: dataa,
                success: function (data, textStatus, xhr) {
                    alert("variation Deleted Successfully");
                    document.getElementById('id03').style.display = 'none';
                    location.reload();
                },
                error: function (xhr) {
                    console.log(JSON.parse(xhr.statusText))
                        
                    let err = JSON.parse(xhr.statusText).error;

                    if (xhr.status == 401) {
                        window.location.href = "{% url 'logout' %}";
                    }
                    if(Array.isArray(err)){
                        alert(err.join("\n"))

                    }else{
                        alert(err)

                    }
                }
            });
        });
    }

    /* =========== Show Modal ============ */
    function signin() {
        document.getElementById('id01').style.display = 'block';

        $("#Submit").click(function () {
            var name = $('#vname').val();
            var initial = $('#vinitial').val();
            var pcount = parseInt($('#vpcount').val());
            var arr_val = [2,3,4]
            var mssg = "please fill empty fields"

            var dataobjects = {
                "variation_name": name, "variation_initial":initial, "player_count":pcount
            }
            var dataa = JSON.stringify(dataobjects);
            console.log(dataa)
            if(arr_val.includes(pcount) == false){
                mssg = "Player Count must be in between 2 & 4"
                
            }
            if (name != "" && initial != "" && pcount != "" && arr_val.includes(pcount)) {
                $.ajax({
                    url: "{% url 'variations' %}",
                    type: "POST",
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'json',
                    data: dataa,
                    headers: {
                    
                        'X-CSRFToken':'{{csrf_token}}'
                    },
                    success: function (result) {
                        alert("Variation Created Successfully");
                        document.getElementById('id01').style.display = 'none';
                        location.reload();
                    },
                    error: function (xhr) {
                        let err = JSON.parse(xhr.statusText).error;

                        if (xhr.status == 401) {
                            window.location.href = "{% url 'logout' %}";
                        }
                        if(Array.isArray(err)){
                            alert(err.join("\n"))

                        }else{
                            alert(err)

                        }


                    }
                });
            } else {
                alert(mssg);
            }
        });
    }


    function upModal() {
        arr_val = [2, 3, 4];
        var varid = arguments[0];
        var varname = arguments[1];
        var varintial = arguments[2];
        var pcount = arguments[3];
        document.getElementById('id02').style.display = 'block';
        
        document.getElementById("vname1").value = varname;
        document.getElementById("vinitial1").value = varintial;
        document.getElementById("vpcount1").value = pcount;

        $("#Submit1").click(function () {
            varname = $('#vname1').val();
            varintial = $('#vinitial1').val();
            //varintial = $('#vinitial1').val();
            pcount = parseInt($('#vpcount1').val());

            var dataobjects = {
                "variation_id":varid, "variation_name":varname, "variation_initial":varintial, "player_count":pcount
            }
            var dataa = JSON.stringify(dataobjects);
            let mssg = "please fill empty fields"
            if(arr_val.includes(pcount) == false){
                mssg = "Player Count must be in between 2 & 4"
                
            }
            if (varname != "" && varintial != "" && pcount != ""  && arr_val.includes(pcount)) {
                $.ajax({
                    url: "{% url 'variations' %}",
                    type: "POST",
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'json',
                    data: dataa,
                    headers: {
                        'X-CSRFToken': '{{csrf_token}}'
                    },
                    success: function (result) {
                        alert("Variation Updated Successfully");
                        document.getElementById('id02').style.display = 'none';
                        location.reload();
                    },
                    error: function (xhr) {
                        console.log(JSON.parse(xhr.statusText))
                        let err = JSON.parse(xhr.statusText).error;

                        if (xhr.status == 401) {
                            window.location.href = "{% url 'logout' %}";
                        }
                        if(Array.isArray(err)){
                            alert(JSON.parse(xhr.statusText)['error'].join("\n"))

                        }else{
                            alert(err)

                        }
                        location.reload();


                    }
                });
            } else {
                alert(mssg);
            }
        });
    }

    function hideModal() {
        document.getElementById('id01').style.display = 'none';
        document.getElementById('id02').style.display = 'none';
        document.getElementById('id03').style.display = 'none';
        location.reload();
    }
</script>
{% endblock script %}